# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build folder
*.build
build

*.swp
*.xmp




CPUDiscontinuities.pfm
CPUResultBilateral.pfm
CPUResultSeparable_box_4x4.pfm
CPUResultSeparable_box_8x8.pfm
CPUResultSeparable_gauss_3x3.pfm
CPUResult3x3.pfm
DifferenceImageBilateral.pfm
DifferenceImageSeparable_box_4x4.pfm
DifferenceImageSeparable_box_8x8.pfm
DifferenceImageSeparable_gauss_3x3.pfm
DifferenceImage3x3.pfm
GPUDiscontinuities.pfm
GPUResultBilateral.pfm
GPUResultSeparable_box_4x4.pfm
GPUResultSeparable_box_8x8.pfm
GPUResultSeparable_gauss_3x3.pfm
GPUResult3x3.pfm
